<div class="questionnaire">

  <h2>Tell Us About Yourselves!</h2>

  <p>Note:  The following questions/answers apply to you as a couple.  Your answers will influence which projects we initially show you.</p>

  <h3>What makes you, you? Pick your top 3:</h3>

  <div class="questionnaire-checklist">
    <input type="checkbox"><span >Travel Bug Bitten</span><br>
    <input type="checkbox"><span>Volunteering for the Cause</span><br>
    <input type="checkbox"><span>Recycle for Life</span><br>
    <input type="checkbox"><span>Master Chef in the Kitchen</span><br>
    <input type="checkbox"><span>Library Explorer</span><br>
    <input type="checkbox"><span>Champion for the Kids </span><br>
    <input type="checkbox"><span>Supporter of Local Farming</span>
  </div>

  <h3>Which are you most passionate about? Pick your top 2:</h3>

  <div class="questionnaire-checklist">
    <input type="checkbox"><span>Education</span><br>
    <input type="checkbox"><span>Global Health</span><br>
    <input type="checkbox"><span>Water and Sanitation</span><br>
    <input type="checkbox"><span>Energy</span><br>
    <input type="checkbox"><span>Agricdivture</span><br>
    <input type="checkbox"><span>Maternal and Child Health</span>
  </div>

  <h3>Where have you/wodivd you pke to travel?</h3>

  <div class="questionnaire-checklist">
    <input type="checkbox"><span>Africa</span><br>
    <input type="checkbox"><span>Asia</span><br>
    <input type="checkbox"><span>Eastern Europe</span><br>
    <input type="checkbox"><span>Latin America</span><br>
    <input type="checkbox"><span>Other</span>
  </div>

  <h3>Do you have a region in mind that you want to make a difference in?</h3>

  <div class="questionnaire-checklist">
    <input type="checkbox"><span>Africa</span><br>
    <input type="checkbox"><span>sia</span><br>
    <input type="checkbox"><span>Eastern Europe</span><br>
    <input type="checkbox"><span>Latin America</span><br>
    <input type="checkbox"><span>Any</span><br>
    <input type="checkbox"><span>Other</span>
  </div>

  <a href='/projects' class='btn btn-lg btn-primary project-select-button'>Get Recommendations</a>

</div>