<h2>Tell Us About Yourselves!</h2>

<p>Note:  The following questions/answers apply to you as a couple.  Your answers will influence which projects we initially show you.</p>

<h3>What makes you, you? Pick your top 3:</h3>

#### bullets for LIs need to come off

<ul>
  <li><input type="checkbox">Travel Bug Bitten</li>
  <li><input type="checkbox">Volunteering for the Cause</li>
  <li><input type="checkbox">Recycle for Life</li>
  <li><input type="checkbox">Master Chef in the Kitchen</li>
  <li><input type="checkbox">Library Explorer</li>
  <li><input type="checkbox">Champion for the Kids </li>
  <li><input type="checkbox">Supporter of Local Farming</li>
</ul>

<h3>Which are you most passionate about? Pick your top 2:</h3>

<ul>
  <li><input type="checkbox">Education</li>
  <li><input type="checkbox">Global Health</li>
  <li><input type="checkbox">Water and Sanitation</li>
  <li><input type="checkbox">Energy</li>
  <li><input type="checkbox">Agriculture</li>
  <li><input type="checkbox">Maternal and Child Health</li>
</ul>

<h3>Where have you/would you like to travel?</h3>

<ul>
  <li><input type="checkbox">Africa</li>
  <li><input type="checkbox">Asia</li>
  <li><input type="checkbox">Eastern Europe</li>
  <li><input type="checkbox">Latin America</li>
  <li><input type="checkbox">Other</li>
</ul>

<h3>Do you have a region in mind that you want to make a difference in?</h3>

<ul>
  <li><input type="checkbox">Africa</li>
  <li><input type="checkbox">Asia</li>
  <li><input type="checkbox">Eastern Europe</li>
  <li><input type="checkbox">Latin America</li>
  <li><input type="checkbox">Any</li>
  <li><input type="checkbox">Other</li>
</ul>

<button>Continue</button>