<div id='home-wrapper'>

	<div id='home-story'>
		<h2>Build Love Where it is Needed Most</h2>
		<h3>Creating Charitable wedding regstries that share your happily ever after with the world.</h3>

		<div class="story-wrapper">

			<div class="story col-lg-4 ">
				<img src="<%= asset_path('lovelogo.png') %>"  alt="hands with flower">
				<p class="home-steps">We start off by matching your interests, personality and wedding information to a range of charitable organizations.</p>
			</div>

			<div class="story col-lg-4 ">
				<img src="<%= asset_path('worldicon.png') %>"  alt="hands with flower">
				<p class="home-steps">Find out more information about yoru matched charities, including what exactly your wedding guests will be able to contribute towards.</p>
			</div>

			<div class="story col-lg-4 ">
				<img src="<%= asset_path('presentlogo.png') %>"  alt="hands with flower">
				<p class="home-steps">dedicate all or part of your registry to the charity of your choice and have your wedding guests help the world in your name.</p>
			</div>

			<div id='home-couple'>Create Your Registry</div>

		</div>
	</div>

</div>

<div id='home-ngo'>
	<p>Every year in the US, 2.3 million couples tie the know.  That's over 1 million ways to help make the world a better place.  If you are a charitable organization looking to partner with Heartfully, contact us for more information or start the registration process below.</p>
	<div>Register Your Charity</div>
</div>