<div id='home-wrapper'>

	<div id='home-story'>
		<h1>Build Love Where it is Needed Most</h1>
		<h2>Creating Charitable wedding regstries that share your happily ever after with the world.</h2>
		<div class="step1">
			<img src="<%= asset_path('header_img_1.png') %>"  alt="hands with flower">
			<p class="home-steps">We start off by matching your interests, personality and wedding information to a range of charitable organizations.</p>
		</div>
	</div>

	<div id='home-couple'>
	</div>

	<div id='home-ngo'>
	</div>
</div>