<div id='home-wrapper'>

	<div id='home-story'>

		<div class="taglines row">
			<h2>Build Love Where it is Needed Most</h2>
			<h3>Creating Charitable wedding regstries that share your happily ever after with the world.</h3>
		</div>

		<div class="row story-wrapper">

			<div class="story col-lg-4 ">
				<div class="row story-image">
					<img src="<%= asset_path('lovelogo.png') %>"  alt="hands with flower">
				</div>
				<p >We start off by matching your interests, personality and wedding information to a range of charitable organizations.</p>
			</div>

			<div class="story col-lg-4 ">
				<img src="<%= asset_path('worldicon.png') %>"  alt="hands with flower">
				<p >Find out more information about yoru matched charities, including what exactly your wedding guests will be able to contribute towards.</p>
			</div>

			<div class="story col-lg-4 ">
				<img src="<%= asset_path('presentlogo.png') %>"  alt="hands with flower">
				<p >Dedicate all or part of your registry to the charity of your choice and have your wedding guests help the world in your name.</p>
			</div>
		</div>

		<div class="row story-wrapper registry-button">
			<a href='/questionnaire' class='btn btn-lg btn-primary registry-create-button'>Create Your Registry</a>

		</div>
	</div>

</div>

<div class="row ngo-wrapper">
	<p class="home-ngo row">Every year in the US, 2.3 million couples tie the know.  That's over 1 million ways to help make the world a better place.  If you are a charitable organization looking to partner with Heartfully, contact us for more information or start the registration process below.</p>

	<div class="row ">
		<a href='/questionnaire' class='btn btn-lg btn-primary registry-create-button'>Register Your Charity</a>
	</div>
</div>