<div id='home-wrapper'>

	<div id='home-story'>
		<h1>Build Love Where it is Needed Most</h1>
		<h2>Creating Charitable wedding regstries that share your happily ever after with the world.</h2>
		<div class="step1">
			<img src="/assets/header_img_1.png"  alt="hands with flower">
			<p class="home-steps">We start off by matching your interests, personality and wedding information to a range of charitable organizations.</p>
		</div>

		<div class="step1">
			<img src="/assets/header_img_1.png"  alt="hands with flower">
			<p class="home-steps">We start off by matching your interests, personality and wedding information to a range of charitable organizations.</p>
		</div>
		<div class="clearfix"></div>
		<button type="button">Create Your Registry</button>
	</div>

	<div class="clearfix"></div>

	<div id='home-couple'>
		<h2>Register Your Charity</h2>
		<p>Every year in the US, 2.3 million couples tie the knot. That's over 1 million ways to help make the world a better place. If you are a charitable organization looking to partner with Heartfully, contact us for more information or start the registration process below.</p>

		<button type="button">Register Your Charity</button>
	</div>

	<div class="clearfix"></div>

	<div id='home-ngo'>
	</div>
</div>