<div id='project-wrapper'>
	<%= render partial: "projects/show" %>

	<div class='row'>
		<div class='col-md-12'>
			<a href='/users/1' class='btn btn-lg btn-primary project-select-button'>Support This Project</a>
		</div>
	</div> 

</div>