<div class='row projects-list'>
	<% @projects.each do |project| %>
		<div class='col-lg-4 project-glimpse'>
			<img class='img-circle' src="<%= project.project_pic %>" />
			<h2 class='project-glimpse-name'><%= project.project_name %></h2>
			<p class='project-glimpse-descriptions'><%= project.project_description %></p>
			<p class='project-glimpse-link'>
				<a class='project-glimpse-link' href="#">View details</a>
			</p>
		</div>	
	<% end %>
</div>