<div class="header">
<img src="/assets/heartfully_logo.png" alt="heartfully logo">
	<nav>
	<a href="">Mission</a>  
	<a href="">Charities</a>  
	<a href="">Team</a>  
	<a href="">Contact</a>
	</nav>

</div>

