@import "style_guide";

/*PROJECT INDEX PAGE*/

.projects-list {
	text-align: center;	
	
	.project-glimpse {
		padding: 0 30px;
	}

	img {
		height: 240px;
		width: 240px;
		vertical-align: middle;
	}
}

/*PROJECT SHOW PAGE*/
#project-wrapper {
	padding: 10px;
}

#home-wrapper {
	background: url(/assets/best_photo_ever.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 590px;	

}

#home-story {
	padding-top: 40px;

	h1, h2 {
		text-align: center;
	}
}

.step1 {
	float: left;
}

.home-steps {
	width: 33.33%;
	color: #ffffff;
	text-align: center; 
}


