@import "style_guide";

.projects-list {
	text-align: center;	
	
	img {
		height: 240px;
		width: 240px;
		vertical-align: middle;
	}
}

#home-wrapper {
	background: url(/assets/best_photo_ever.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 590px;	

}

#home-story {
	h1 {
		text-align: center;
	}
}
